// @import "./foundation/settings";
// @import "~foundation-sites/scss/foundation";
// @include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.header-info,
.homepage-header {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-info {
  margin-top: 2em;
}

.homepage-header {
  margin-top: 2em;
}